<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dab.medireminder">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediReminder">

        <activity android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/Theme.MediReminder.NoActionBar" />

        <activity
            android:name=".ui.activity.MedicineTimerActivity"
            android:theme="@style/Theme.MediReminder.NoActionBar" />

        <activity
            android:name=".ui.activity.AddMedicineTimerActivity"
            android:theme="@style/Theme.MediReminder.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.MedicineActivity"
            android:theme="@style/Theme.MediReminder.NoActionBar" />

        <activity
            android:name=".ui.activity.AddMedicineActivity"
            android:theme="@style/Theme.MediReminder.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.BloodPressureActivity"
            android:theme="@style/Theme.MediReminder.NoActionBar" />

        <activity
            android:name=".ui.activity.AddBloodPressureActivity"
            android:theme="@style/Theme.MediReminder.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.ChartActivity"
            android:theme="@style/Theme.MediReminder.NoActionBar" />

        <receiver
            android:name=".broadcast.NotificationBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.NotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>


    </application>

</manifest>